<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotNet.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DotNet.Business.Properties.Settings>
            <setting name="DotNet_Business_BillService_Web_Sms_list" serializeAs="String">
                <value>http://122.225.108.5:9876/Web_SMS_List.asmx</value>
            </setting>
        </DotNet.Business.Properties.Settings>
    </applicationSettings>
</configuration>